// Place all the styles related to the lamp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input {
  display: block;
  width: 400px; 
  height: 150px; 
  font-size: 5em; 
  font-weight: bold;
  margin-bottom: 0.5em;
}